<table cellpadding="0" cellspacing="0" border="0" style="font-family:Verdana, Geneva, sans-serif; width: 90%; margin: auto; font-size: .8em; color:#333;">
	<thead style="background: #0464ae; color: #FFF;">
    	<tr>
        	<td colspan="6" style="padding: 15px;">
            	<img src="http://homestart.net.au/template/default_site/assets/img/home-logo.png"/>
            	<h1 style="float:right; font-weight: 100; padding: 15px;">Pre-Start Survey</h1>
            </td>
        </tr>
    </thead>
    
    <tbody>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">Sales Consultant</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{sales_consultant}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">Contracts Administrator</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{contracts_administrator}</td>
        </tr>
        <tr style="background: rgb(128,166,22); color:#fff;">
        	<td style="padding: 15px; font-size: 1.25em;">Service Rating</td>
            <td style="padding: 10px;">Availability</td>
            <td style="padding: 10px;">Product knowledge</td>
            <td style="padding: 10px;">Helpfulness &amp; assistance</td>
            <td style="padding: 10px;">Responsiveness to requests</td>
            <td style="padding: 10px;">Additional Comments</td>
        </tr>
        <tr style="background: #F0F0F0;">
        	<td style="padding: 15px;"><strong>Sales Consultant</strong></td>
            <td style="padding: 10px;">{sales_availability}</td>
            <td style="padding: 10px;">{sales_product_knowledge}</td>
            <td style="padding: 10px;">{sales_helpfulness_assistance}</td>
            <td style="padding: 10px;">{sales_responsiveness_to_requests}</td>
            <td style="padding: 10px;">{additional_comments_sales}</td>
        </tr>
        <tr style="background: #F7f7f7;">
        	<td style="padding: 15px;"><strong>Contracts Administrator</strong></td>
            <td style="padding: 10px;">{contracts_administrator_availabilty}</td>
            <td style="padding: 10px;">{contracts_administrator_product_knowledge}</td>
            <td style="padding: 10px;">{contracts_administrator_helpfulness_assistance}</td>
            <td style="padding: 10px;">{contracts_administrator_responsiveness_to_requests}</td>
            <td style="padding: 10px;">{additional_comments_contracts_administrator}</td>
        </tr>
        
        
        <!--PRESTART SURVEY QUESTIONS -->
        <tr>
        	<td colspan="6" style="background: #333; color: #FFF; padding: 15px; font-size: 1.25em;">Pre-Start Survey</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">Age</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{prestart_age}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">Marital Status</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{marital_status}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">Number of children</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{prestart_number_of_children}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">Do you currently</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{do_you_currently}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">Purpose of new home</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{purpose_of_new_home}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">Are you a first home buyer?</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{are_you_a_first_home_buyer}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">If no, have you ever built before?</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{if_no_have_you_ever_built_before}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">Why did you choose to build with HomeStart?</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{why_did_you_choose_to_build_with_homestart}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">How did you hear about HomeStart?</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{how_did_you_hear_about_homestart}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">Which websites did you use to research your new home?</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{which_websites_did_you_use_to_research_your_new_home}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">Do you regularly read any of the following newspapers?</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{do_you_regularly_read_any_of_the_following_newspapers}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F7f7f7; padding: 15px;">What is your preferred radio station?</td>
        	<td colspan="4" style="background: #F7f7f7; padding: 10px;">{what_is_your_preferred_radio_station}</td>
        </tr>
    	<tr>	
        	<td colspan="2" style="background: #F0F0F0; padding: 15px;">I would like to receive news and updates from HomeStart</td>
        	<td colspan="4" style="background: #F0F0F0; padding: 10px;">{i_would_like_to_receive_news_and_updates_from_homestart}</td>
        </tr>
    </tbody>
    
    <tfoot>
    </tfoot>

</table>