<table>
	<thead>
    	<tr>
        	<td colspan="6">Someone has completed the Handover Survey</td>
        </tr>
    </thead>
    
    <tbody>
    	<tr>	
        	<td colspan="2">Contracts Administrator</td>
        	<td colspan="4">{contracts_administrator}</td>
        </tr>
    	<tr>	
        	<td colspan="2">Supervisor</td>
        	<td colspan="4">{supervisor}</td>
        </tr>
    	<tr>	
        	<td colspan="2">Client Liaison Officer</td>
        	<td colspan="4">{client_liaison_officer}</td>
        </tr>
        <tr>
        	<td></td>
            <td>Availability</td>
            <td>Product knowledge</td>
            <td>Helpfulness &amp; assistance</td>
            <td>Responsiveness to requests</td>
            <td>Additional Comments</td>
        </tr>
        <tr>
        	<td>Contracts Administrator</td>
            <td>{contracts_administrator_availabilty}</td>
            <td>{contracts_administrator_product_knowledge}</td>
            <td>{contracts_administrator_helpfulness_assistance}</td>
            <td>{contracts_administrator_responsiveness_to_requests}</td>
            <td>{additional_comments_contracts_administrator}</td>
        </tr>
        <tr>
        	<td>Supervisor</td>
            <td>{contracts_administrator_availabilty}</td>
            <td>{contracts_administrator_product_knowledge}</td>
            <td>{contracts_administrator_helpfulness_assistance}</td>
            <td>{contracts_administrator_responsiveness_to_requests}</td>
            <td>{additional_comments_contracts_administrator}</td>
        </tr>
        <tr>
        	<td>Client Liaison Officer</td>
            <td>{contracts_administrator_availabilty}</td>
            <td>{contracts_administrator_product_knowledge}</td>
            <td>{contracts_administrator_helpfulness_assistance}</td>
            <td>{contracts_administrator_responsiveness_to_requests}</td>
            <td>{additional_comments_contracts_administrator}</td>
        </tr>
    </tbody>
    
    <tfoot>
    </tfoot>

</table>