<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/template/default_site/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="/template/default_site/assets/js/vendor/jquery-ui.min.js"><\/script>')</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Vd2q1SxTf1BjwUalB8q1dbN8o83Ni6Q&sensor=true"></script>

<script src="/template/default_site/assets/js/google_maps.js"></script>
    
<!--<script src="/template/default_site/assets/js/vendor/retina.js"></script>-->
<script src="/template/default_site/assets/js/vendor/jquery.cookie.js"></script>
<script src="/template/default_site/assets/js/vendor/detectmobilebrowser.js"></script>

<script src="/template/default_site/assets/js/plugins.js"></script>
<script src="/template/default_site/assets/js/main.js"></script>

<script src="/template/default_site/assets/js/analytics.js"></script>
        
</body>
</html>