{embed="includes/.header"}

{if segment_1 == 'nodramas'}

{embed="nodramas/index"}

{if:elseif segment_3 == ''}

    <section class="content first-section {segment_1} {segment_2}">
        <div class="container clearfix white-box">
        
        <h1>Promotions</h1>
        
        {exp:channel:entries channel="promotions"}
        
        <div class="promotion-container clearfix">
            {promotion_image}
            <img src="{image:url:medium}" alt="{title}" />
            {/promotion_image}
            <div class="promotion-copy-container">
                <h2>{if promotion_heading}{promotion_heading}{if:else}{title}{/if}</h2>
                <div class="promotion-copy">{promotion_copy}</div>
                <a class="btn-green promotion-button" href="/news/promotions/{url_title}">{if submit_button_text}{submit_button_text}{if:else}Enter Now{/if}</a>
            </div>
        </div>
        
        {/exp:channel:entries}
        
        </div>
    </section>

{if:elseif segment_3 == 'win-your-rent-for-one-year'}

    {if group_id=="1"}

        <p>ADMIN VIEW ONLY</p>

        {exp:channel:entries channel="promotions" url_title="{segment_3}" status="open|preview"}
        <section class="content first-section {segment_1}">
            <div class="container white-box clearfix chance-to-win" style="padding:0;">

                <div class="right" style="padding: 20px 20px 0 0;">
                    {promotion_image}
                    <img src="{image:url:large}" alt="{title}" />
                    {/promotion_image}
                </div>
                
                <div class="left" style="padding:20px 0 20px 20px;">
                    <div class="content-header clearfix" style="width:100%;">
                        <div class="content-header-copy">
                            {!--<h2 style="margin:20px 0 0;">Attention Renters!</h2>--}
                            <h1 style="font-size:4em;">Win <span style="color:#96c11f;">your rent for</span> one year!<small><sup>*<sup></small></h1>
                        </div>
                    </div>
                    
                    <div class="page-copy">
                        {promotion_copy}
                        <!-- <p>For full terms and conditions <a href="/template/default_site/assets/uploads/HomeStartChancetowin500,000TCs.pdf" target="_blank">click here</a>.</p> -->
                    </div>
                </div>
                
            </div>
        </section>
        {/exp:channel:entries}

    {if:else}

        {exp:channel:entries channel="promotions" url_title="{segment_3}"}

        <section class="content first-section {segment_1}">
            <div class="container white-box clearfix chance-to-win" style="padding:0;">

                <div class="right" style="padding: 20px 20px 0 0;">
                    {promotion_image}
                    <img src="{image:url:large}" alt="{title}" />
                    {/promotion_image}
                </div>
                
                <!-- <div class="right"><img src="/template/default_site/assets/img/a-chance-to-win-250000.jpg"/></div> -->
                
                <div class="left" style="padding:20px 0 20px 20px;">
                    <div class="content-header clearfix" style="width:100%;">
                        <div class="content-header-copy">
                            {!--<h2 style="margin:20px 0 0;">Attention Renters!</h2>--}
                            <h1 style="font-size:4em;">Win <span style="color:#96c11f;">your rent for</span> one year!<small><sup>*<sup></small></h1>
                        </div>
                    </div>
                    
                    <div class="page-copy">
                        {promotion_copy}
                        <!-- <p>For full terms and conditions <a href="/template/default_site/assets/uploads/HomeStartChancetowin500,000TCs.pdf" target="_blank">click here</a>.</p> -->
                    </div>
                </div>
                
            </div>
        </section>

        {/exp:channel:entries}

    {/if}

    

    <section class="content first-section {segment_1} {segment_2}">
    <div class="container clearfix white-box">

    {if last_segment == 'thank-you'}
        <div>
            <h2>Thank you for registering. Good Luck!</h2>
        </div>
    
        {rea}

        </div>
        </section>

    {if:elseif last_segment == 'sorry'}

        <div>
            <h2>Sorry, this promotion is only available to renters.</h2>
        </div>

        </div>
        </section>

    {if:elseif last_segment == 'error'}

        <div>
            <h2>You may only enter this promotion once.</h2>
        </div>

        </div>
        </section>

    {if:else}

    {exp:freeform:form form_name="win_your_rent_for_one_year_sep_2015" form:class="your_chance_to_win" return="/news/promotions/win-your-rent-for-one-year/thank-you" inline_errors="yes" prevent_duplicate_on="email" duplicate_redirect="/news/promotions/win-your-rent-for-one-year/error"}
    
    <div class="cols2 clearfix">
    
        <h2>Your Details</h2>
    
        <div class="pct50">
        
            <ul>

                <li>
                    <label>{freeform:label:do_you_own_a_home_of_your_own}</label>
                    <!-- {freeform:field:do_you_own_a_home_of_your_own attr:data-role="none"} -->
                    <ul style="list-style:none; padding:0;" data-role="none">
                    <li>
                        <input type="radio" name="do_you_own_a_home_of_your_own" id="freeform_do_you_own_a_home_of_your_own_1" value="Yes" data-href="#promotion-sorry" class="colorbox" data-transition="flip">&nbsp;&nbsp;
                        <label for="freeform_do_you_own_a_home_of_your_own_1">Yes</label>
                    </li>
                    <li>
                        <input type="radio" name="do_you_own_a_home_of_your_own" id="freeform_do_you_own_a_home_of_your_own_2" value="No" required="required">&nbsp;&nbsp;
                        <label for="freeform_do_you_own_a_home_of_your_own_2">No</label>
                    </li>
                    </ul>
                </li>
            
                <li>
                    <!-- <label>{freeform:label:current_situation}</label> -->
                    <label>What is your current situation?</label>
                    {freeform:field:current_situation attr:data-role="none" attr:required="required"}
                    
                    <!-- <ul style="list-style:none; padding:0;" data-role="none">
                        <li>
                            <input type="radio" name="current_situation" id="freeform_current_situation_1" value="renting">&nbsp;&nbsp;
                            <label for="freeform_current_situation_1">Renting</label>
                        </li>
                        <li>
                            <input type="radio" name="current_situation" id="freeform_current_situation_2" value="living with parents">&nbsp;&nbsp;
                            <label for="freeform_current_situation_2">Living with parents</label>
                        </li>
                        <li>
                            <input type="radio" name="current_situation" id="freeform_current_situation_3" value="other">&nbsp;&nbsp;
                            <label for="freeform_current_situation_3">Other</label>
                        </li>
                    </ul> -->
                    
                </li>
                
                <li>
                <label>Name</label>
                <input type="text" name="name" value="" id="name" maxlength="150" data-role="none" required>
                </li>
                
                <li>
                <label>Email</label>
                <input type="email" name="email" value="" id="email" maxlength="150" data-role="none" required>
                </li>
                
                <li>
                <label>Phone</label>
                <input type="tel" name="phone" value="" id="phone" maxlength="12" data-role="none" required>
                </li>

                <li>
                <label>{freeform:label:suburb}</label>
                {freeform:field:suburb attr:data-role="none" attr:required="required"}
                </li>

            </ul>
        
        </div>

        <div class="pct50">
        
            <ul>

                <li>
                    <label>Are you currently employed?</label>
                    {freeform:field:are_you_currently_employed attr:data-role="none" attr:required="required"}
                </li>

                <li>
                    <label>{freeform:label:your_income}</label>
                    {freeform:field:your_income attr:data-role="none" attr:required="required"}
                </li>

                <li>
                    <label>{freeform:label:partners_income_select}</label>
                    {freeform:field:partners_income_select attr:data-role="none"}
                </li>

                <li>
                    <label>{freeform:label:hear_about}</label>
                    {freeform:field:hear_about attr:data-role="none" attr:required="required"}
                </li>
                
                <!--li>
                <label>Your Income</label>
                <select name="your_income" id="your_income" data-role="none" required="required">
                    <option value="">Please select one</option>
                    <option value="30,000 - 50,000">30,000 - 50,000</option>
                    <option value="50,000 - 70,000">50,000 - 70,000</option>
                    <option value="70,000 - 90,000">70,000 - 90,000</option>
                    <option value="90,000 - 110,000">90,000 - 110,000</option>
                    <option value="110,000 - 130,000">110,000 - 130,000</option>
                    <option value="More">More</option>
                </select>
                </li>-->
                
                <!-- <li>
                <label>How did you hear about us?</label>
                <select name="hear_about" id="hear_about" data-role="none" required="required">
                    <option value="">Please select one</option>
                    <option value="Realestate.com.au">Realestate.com.au</option>
                    <option value="Reiwa.com.au">Reiwa.com.au</option>
                    <option value="Radio">Radio</option>
                    <option value="TV">TV</option>
                    <option value="Google">Google</option>
                    <option value="Regional Centre">Regional Centre</option>
                    <option value="Shopping Centre">Shopping Centre</option>
                    <option value="Exhibitions">Exhibitions</option>
                    <option value="Friend">Friend</option>
                    <option value="Newspaper">Newspaper</option>
                </select>
                </li> -->
                
                {exp:snaptcha:field}

                <li>
                <span style="display:inline;padding:0 0 0 10px;">
                I have read and agree to the <a href="http://homestart.net.au/uploads/pdfs/JCM_HS_Win_Your_Rent_TCs.pdf" target="_blank">Terms &amp; Conditions</a>
                </span>
                <input style="display:inline;float:left;margin:2px;" type="checkbox" name="terms" required>
                </li>
                
                <li>
                <button class="btn-green" type="submit" name="submit" value="submit" data-role="none" onclick="_gaq.push(['_trackEvent', 'RentPromo', 'Register', 'Button',0,true]);">Register</button>
                </li>
            </ul>
        
        </div>
        
    </div>
        
    {/exp:freeform:form}
    </div>
    </section>

    <div class="hidden">
        <div id="promotion-sorry">
            <h2>Sorry, this promotion is not available to home owners.</h2>
        </div>
    </div>

    {/if}

    {!--

    <section class="content first-section {segment_1}">
        <div class="container white-box clearfix chance-to-win" style="padding:0;">

            <div class="right" style="padding: 20px 20px 0 0;">&nbsp;
            </div>
            
            <div class="left" style="padding:20px 0 20px 20px;">
                <div class="content-header clearfix" style="width:100%;">
                    <div class="content-header-copy">
                        <h2 style="margin:20px 0 0;">Promotion Closed</h2>
                    </div>
                </div>
                
                <div class="page-copy">
                    <p>This promotion has now closed. <br /><br />Keep an eye on our <a href="/news/promotions">promotions</a> page for your next chance to win.</p>
                </div>
            </div>
            
        </div>
    </section>

    --}


{if:elseif segment_3 == 'refer-a-friend'}

<section class="content first-section {segment_1} {segment_2}">
    <div class="container clearfix white-box">
    
    {if last_segment == 'thank-you'}
    <div>
        <h2>Thanks for contacting HomeStart. We'll be in touch soon.</h2>
    </div>
    
    {rea}

    {if:else}
    
    {exp:channel:entries channel="promotions" url_title="{segment_3}"}
    
    {exp:freeform:form form_name="refer_a_friend" form:class="refer-a-friend-form" return="/news/promotions/refer-a-friend/thank-you" inline_errors="yes" required="name|email"}
    
    <div class="cols2 clearfix">
    
        <h2>{title}</h2>
        <div class="promotion-copy">{promotion_copy}</div>
    
        <div class="pct50">
        
            <ul>
            
                <li>
                <label>{freeform:label:name}</label>
                {!--{freeform:field:name attr:data-role="none" attr:tabindex="1" attr:required}--}
                <input type="text" name="name" value="" id="freeform_name" maxlength="150" data-role="none" required>
                {if freeform:error:name}
                    <span class="error">{freeform:error:name}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:email}</label>
                {!--{freeform:field:email attr:data-role="none" attr:tabindex="2"}--}
                <input type="email" name="email" value="" id="freeform_email" maxlength="150" data-role="none" required>
                {if freeform:error:email}
                    <span class="error">{freeform:error:email}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:phone}</label>
                {!--{freeform:field:phone attr:data-role="none" attr:tabindex="3"}--}
                <input type="tel" name="phone" value="" id="freeform_phone" maxlength="12" data-role="none" required>
                {if freeform:error:phone}
                    <span class="error">{freeform:error:phone}</span>
                {/if}
                </li>
            
            </ul>
        
        </div>
        
        <div class="pct50">
        
            <ul>
            
                <li>
                <label>Friend's Name</label>
                {!--{freeform:field:referee_name attr:data-role="none" attr:tabindex="1" attr:required}--}
                <input type="text" name="referee_name" value="" id="freeform_name" maxlength="150" data-role="none" required>
                {if freeform:error:referee_name}
                    <span class="error">{freeform:error:referee_name}</span>
                {/if}
                </li>
                
                <li>
                <label>Friend's Email</label>
                {!--{freeform:field:referee_email attr:data-role="none" attr:tabindex="2"}--}
                <input type="email" name="referee_email" value="" id="freeform_email" maxlength="150" data-role="none" required>
                {if freeform:error:referee_email}
                    <span class="error">{freeform:error:referee_email}</span>
                {/if}
                </li>
                
                <li>
                <label>Friend's Phone</label>
                {!--{freeform:field:referee_phone attr:data-role="none" attr:tabindex="3"}--}
                <input type="tel" name="referee_phone" value="" id="freeform_phone" maxlength="12" data-role="none" required>
                {if freeform:error:referee_phone}
                    <span class="error">{freeform:error:referee_phone}</span>
                {/if}
                </li>
                
                <li>
                    <button class="btn-green" type="submit" name="submit" value="submit" data-role="none">{if submit_button_text}{submit_button_text}{if:else}Enter Now{/if}</button>
                </li>
            
            </ul>
            
        </div>
        
    </div>
    
    {freeform:field:page_origin}
    
    {/exp:freeform:form}
    
    {/exp:channel:entries}
    
    {/if}
    
    </div>
</section>

{if:elseif segment_3 == 'quarterly-survey-competition'}

<section class="content first-section {segment_1} {segment_2}">
    <div class="container clearfix white-box">
    
    {if last_segment == 'thank-you'}
    <div>
        <h2>Thanks for contacting HomeStart. We'll be in touch soon.</h2>
    </div>
    
    {rea}
    
    {if:else}
    
    {exp:channel:entries channel="promotions" url_title="{segment_3}"}
    
    {exp:freeform:form form_name="quarterly_survey_competition" form:class="quarterly-survey-competition-form" return="/news/promotions/quarterly-survey-competition/thank-you" inline_errors="yes" required="name|email"}
    
    <div class="cols2 clearfix">
    
        <h2>{title}</h2>
        <div class="promotion-copy">{promotion_copy}</div>
    
        <div class="pct50">
        
            <ul>
            
                <li>
                <label>{freeform:label:name}</label>
                <input type="text" name="name" value="" id="freeform_name" maxlength="150" data-role="none" required>
                {if freeform:error:name}
                    <span class="error">{freeform:error:name}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:address}</label>
                <input type="text" name="address" value="" id="freeform_address" maxlength="150" data-role="none" required>
                {if freeform:error:address}
                    <span class="error">{freeform:error:address}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:suburb}</label>
                <input type="text" name="suburb" value="" id="freeform_suburb" maxlength="150" data-role="none" required>
                {if freeform:error:suburb}
                    <span class="error">{freeform:error:suburb}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:postcode}</label>
                <input type="text" name="postcode" value="" id="freeform_postcode" maxlength="4" data-role="none" required>
                {if freeform:error:postcode}
                    <span class="error">{freeform:error:postcode}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:state}</label>
                {freeform:field:state}
                {if freeform:error:state}
                    <span class="error">{freeform:error:state}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:phone}</label>
                <input type="tel" name="phone" value="" id="freeform_phone" maxlength="12" data-role="none" required>
                {if freeform:error:phone}
                    <span class="error">{freeform:error:phone}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:email}</label>
                <input type="email" name="email" value="" id="freeform_email" maxlength="150" data-role="none" required>
                {if freeform:error:email}
                    <span class="error">{freeform:error:email}</span>
                {/if}
                </li>
            
            </ul>
        
        </div>
        
        <div class="pct50">
        
            <ul>
                
                <li>
                <label>{freeform:label:age}</label>
                {freeform:field:age}
                {if freeform:error:age}
                    <span class="error">{freeform:error:age}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:relationship_status}</label>
                {freeform:field:relationship_status}
                {if freeform:error:relationship_status}
                    <span class="error">{freeform:error:relationship_status}</span>
                {/if}
                </li>
            
                <li>
                <label>{freeform:label:weekly_rent}</label>
                <input type="text" name="weekly_rent" value="" id="freeform_weekly_rent" maxlength="150" data-role="none" required>
                {if freeform:error:weekly_rent}
                    <span class="error">{freeform:error:weekly_rent}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:first_buyer}</label>
                {freeform:field:first_buyer}
                {if freeform:error:first_buyer}
                    <span class="error">{freeform:error:first_buyer}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:already_own_home}</label>
                {freeform:field:already_own_home}
                {if freeform:error:already_own_home}
                    <span class="error">{freeform:error:already_own_home}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:yearly_income}</label>
                {freeform:field:yearly_income}
                {if freeform:error:yearly_income}
                    <span class="error">{freeform:error:yearly_income}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:partners_yearly_income}</label>
                {freeform:field:partners_yearly_income}
                {if freeform:error:partners_yearly_income}
                    <span class="error">{freeform:error:partners_yearly_income}</span>
                {/if}
                </li>
                
                <li>
                <label>{freeform:label:how_much_savings}</label>
                {freeform:field:how_much_savings}
                {if freeform:error:how_much_savings}
                    <span class="error">{freeform:error:how_much_savings}</span>
                {/if}
                </li>
                
                <li>
                    <button class="btn-green" type="submit" name="submit" value="submit" data-role="none">{if submit_button_text}{submit_button_text}{if:else}Enter Now{/if}</button>
                </li>
            
            </ul>
            
        </div>
        
    </div>
    
    {freeform:field:page_origin}
    
    {/exp:freeform:form}
    
    {/exp:channel:entries}
    
    {/if}
    
    </div>
</section>

{/if}
    
{embed="includes/.footer"}