<?php
    $desktop    = false;
    $phone      = false;
    $tablet     = false;
    $phonefull  = false;
    $body_class = '';
?>
{if '{exp:detect_mobile:isphone}'}
<?php
    if(!$this->EE->input->cookie('dontDoMob')) {
        $phone = true;
        $body_class = 'phone';
    } else {
        $phonefull = true;
        $body_class = 'phonefull';
    }
?>
{if:elseif '{exp:detect_mobile:istablet}'}
<?php
    $tablet = true; 
    $body_class = 'tablet';
?>
{if:else}
<?php
    $desktop = true;
    $body_class = 'desktop';
?>
{/if}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{exp:seo_lite use_last_segment="y" default_title="{last_segment} - No Deposit Home Loans - {site_name}"}

<!-- Mobile friendly stuff -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

{if '{exp:detect_mobile:isphone}'}
<!-- Mobile Viewport -->
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
{if:elseif '{exp:detect_mobile:istablet}'}
<!-- Tablet Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{if:else}
<!-- Desktop Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{/if}

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="HomeStart">

<!-- Favicon -->
<link rel="shortcut icon" href="/template/default_site/assets/img/icons/favicon.ico">
<!-- Standard iPhone --> 
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/template/default_site/assets/img/mobile_icons/apple-touch-icon-57x57.png" />
<!-- Retina iPhone --> 
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/template/default_site/assets/img/mobile_icons/apple-touch-icon-144x144.png" />
<!-- Standard iPad --> 
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/template/default_site/assets/img/mobile_icons/apple-touch-icon-72x72.png" />
<!-- Retina iPad --> 
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/template/default_site/assets/img/mobile_icons/apple-touch-icon-114x114.png" />

<!-- Apple Startup Image -->
<link rel="apple-touch-startup-image" href="/template/default_site/assets/img/apple-touch-startup-image.png">
<!-- Apple Startup Image - Retina -->
<link rel="apple-touch-startup-image" href="/template/default_site/assets/img/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
<!-- Apple Startup Image - iPhone 5 -->
<link rel="apple-touch-startup-image" href="/template/default_site/assets/img/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">

<link rel="stylesheet" href="/template/default_site/assets/css/fonts.css">
<link rel="stylesheet" href="/template/default_site/assets/css/normalize.min.css">
<link rel="stylesheet" href="/template/default_site/assets/css/main.css?20140721">

<!-- Javascript Scripts -->
<script src="/template/default_site/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<style>
.invalid input:required:invalid {
    border-color: #FFA215;
}
.invalid input:required:valid {
    border-color: #96C11F ;
}
label.error{color:#FFA215!important;display:block;font-family:'WhitneySemibold';font-size:16px;margin:0;padding:5px 0!important;}
</style>

</head>

<!-- Start of Body -->
<body class="<?php echo $body_class ?> landing">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div>
    
    <div class="header-wrap" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
    
        <div class="header">
            
            <div class="container clearfix">
                
                <div class="logo"><a href="{path='site_index'}" data-role="none"><img src="/template/default_site/assets/img/home-logo.png" width="165" height="70" alt="home start logo"/></a></div>
                
            </div>
            
        </div>
                
        <div class="btt"><p>Back to top</p></div>
    
    </div>
    
    <div class="wrapper clearfix" data-role="content" role="main">
