<body style="background-color: #0078be;">
    <table style="font-family: Arial, Helvetica, sans-serif; padding: 40px; width:90%; max-width: 1100px; min-width: 750px; margin: 10% auto; border-radius: 5px; background-color: #fff;">

        <thead style="background-color: #0078be;">
            <tr>
                <td colspan="4" style="padding:20px;">
                <img src="http://homestart.net.au/template/default_site/assets/img/home-logo.png"/></td>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td colspan="3" style="padding-top: 30px;">
                <h1 style="color: #0078be; font-size: 3.5em;">The first home owner grant has now increased to <span style="color:#8dc63f">$10,000</span></h1></td>
                <td style="width:30%;"><img src="http://homestart.net.au/template/default_site/assets/img/10k.png" width="100%"/></td>
            </tr>
            
            <tr>
                <td colspan="2" style="width:40%;">
                <img src="http://homestart.net.au/template/default_site/assets/img/dog-man.png" width="95%"/></td>
                <td colspan="2" style="">
                <h4 style="color: #999; font-size: 2em; font-weight: 100; line-height: 1.2em;">Why not take a look at our brand new 
                <a href="http://www.homestart.net.au" style="text-decoration: none; color: #8dc63f;">website</a> to see how we can get you a home of your own!</h4>
                </td>
            </tr>
        <tbody>
        
        <tfoot>
            <tr>
                <td colspan="4" style="background: #8dc63f; padding: 20px; width:30%; text-align: center; ">
                <a href="http://www.homestart.net.au" style="text-decoration: none; font-size: 1.75em; color: #fff; font-weight: bold;">www.homestart.net.au</a></td>
            </tr>
        </tfoot>
       
    </table>
</body>