<body style="background-color: #0078be;">

    <!----- CONTENT USER ----->
    <table style="font-family: Arial, Helvetica, sans-serif; padding: 40px; width:650px; margin: 10% auto; border-radius: 5px; background-color: #fff;">

        <thead style="background-color: #0078be;">
            <tr>
                <td colspan="4" style="padding:20px; background-color: #0078be;">
                <img src="http://homestart.net.au/template/default_site/assets/img/home-logo.png"/></td>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td colspan="4" style="padding: 30px 0 0 20px;">
                <h1 style="color: #0078be; font-size: 1.5em;">Thankyou for your enquiry {name}, <br/>someone will be in touch soon...</h1></td>
            </tr>
            
            <tr>
                <td colspan="1" style="width:100px;">
                <img src="http://homestart.net.au/template/default_site/assets/img/dog-man.png" width="100%"/></td>
                <td colspan="3" style="width:auto; padding: 5%; color: #666;">
                	<p><em>{enquiry}</em></p>
                    <p><strong>Are you a first home buyer?</strong> {first_buyer}</p>
                    <p><strong>How did you hear about us?</strong> {hear_about}</p>
                    <p>{email} | {phone}</p>
                </td>
            </tr>
        <tbody>
        
        <tfoot>
            <tr>
                <td colspan="4" style="background: #8dc63f; padding: 10px; width:30%; text-align: center; ">
                <a href="http://www.homestart.net.au" style="text-decoration: none; font-size: 1em; color: #fff; font-weight: bold;">www.homestart.net.au</a></td>
            </tr>
        </tfoot>
       
    </table>
    
    
    
    <!----- CONTENT ADMIN ----->
    <table style="font-family: Arial, Helvetica, sans-serif; padding: 40px; width:90%; max-width: 1100px; min-width: 750px; margin: 10% auto; border-radius: 5px; background-color: #fff;">

        <thead style="background-color: #0078be;">
            <tr>
                <td colspan="4" style="padding:20px; background-color: #0078be;">
                <img src="http://homestart.net.au/template/default_site/assets/img/home-logo.png"/></td>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td colspan="4" style="padding: 30px 0 0 20px;">
                <h1 style="color: #0078be; font-size: 1.5em;">You have received a new enquiry from {name}...</h1></td>
            </tr>
            
            <tr>
                <td colspan="1" style="width:100px;">
                <img src="http://homestart.net.au/template/default_site/assets/img/dog-man.png" width="100%"/></td>
                <td colspan="3" style="width:auto; padding: 5%; color: #666;">
                	<p><em>{enquiry}</em></p>
                    <p><strong>Are you a first home buyer?</strong> {first_buyer}</p>
                    <p><strong>How did you hear about us?</strong> {hear_about}</p>
                    <p>{email} | {phone}</p>
                </td>
            </tr>
        <tbody>
        
        <tfoot>
            <tr>
                <td colspan="4" style="background: #8dc63f; padding: 10px; width:30%; text-align: center; ">
                <a href="http://www.homestart.net.au" style="text-decoration: none; font-size: 1em; color: #fff; font-weight: bold;">www.homestart.net.au</a></td>
            </tr>
        </tfoot>
       
    </table>

</body>