<body style="background-color: #0078be;">

    <!----- CONTENT USER ----->
    <table style="font-family: Arial, Helvetica, sans-serif; padding: 40px; width:650px; margin: 10% auto; border-radius: 5px; background-color: #fff;">

        <thead style="background-color: #0078be;">
            <tr>
                <td colspan="4" style="padding:20px; background-color: #0078be;">
                <img src="http://homestart.net.au/template/default_site/assets/img/home-logo.png"/></td>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td colspan="4" style="padding: 30px 0 0 20px;">
                <h1 style="color: #0078be; font-size: 1.5em;">Thank You for completing our Loan Calculator Form, someone will be in touch soon...</h1></td>
            </tr>
            
            <tr>
                <!--<td colspan="1" style="width:100px;">
                <img src="http://homestart.net.au/template/default_site/assets/img/dog-man.png" width="100%"/></td>-->
                <td colspan="4" style="width:auto; padding: 20px; color: #666;">
                <h3 style="color: #8dc63f; margin-bottom: 0;">Your Details</h3>
                <ul style="font-size: .85em; line-height: 1.5em; list-style: none; margin: 0;padding: 0 0 0 20px;">
                	<li><strong>Name:</strong> {name}</li>
                	<li><strong>Email:</strong> {email}</li>
                	<li><strong>Phone:</strong> {phone}</li>
                	<li><strong>Address:</strong> {address}</li>
                	<li><strong>Postcode:</strong> {postcode}</li>
                	<li><strong>Age:</strong> {age}</li>
                	<li><strong>Number of Children:</strong> {number_of_children}</li>
				</ul>
                <h3 style="color: #8dc63f; margin-bottom: 0;">Your Income</h3>
                <ul style="font-size: .85em; line-height: 1.5em; list-style: none; margin: 0;padding: 0 0 0 20px;">
                	<li><strong>Occupation:</strong> {occupation}</li>
                	<li><strong>Duration at Current job:</strong> {length_of_service}</li>
                	<li><strong>Gross weekly Income (before tax):</strong> {gross_weekly_income}</li>
                	<li><strong>Bonuses:</strong> {bonuses}</li>
                	<li><strong>Other Income:</strong> {other_income}</li>
                	<li><strong>Car Loan (Repayments):</strong> {car_loan}</li>
                	<li><strong>Personal Loan (Repayments):</strong> {personal_loan}</li>
                	<li><strong>Credit Card (Owing):</strong> {credit_card}</li>
                	<li><strong>Other (Owing):</strong> {other_owing}</li>
                	<li><strong>Do you have savings?:</strong> {do_you_have_savings}</li>
				</ul>
                <h3 style="color: #8dc63f; margin-bottom: 0;">Partner's Details</h3>
                <ul style="font-size: .85em; line-height: 1.5em; list-style: none; margin: 0;padding: 0 0 0 20px;">
                	<li><strong>Partner's Name:</strong> {partners_name}</li>
                	<li><strong>Partner's Phone:</strong> {partners_phone}</li>
                	<li><strong>Partner's Income:</strong> {partners_income}</li>
                </ul>
                    <p><strong>Are you a first home buyer?</strong> {first_buyer}</p>
                    <p><strong>How did you hear about us?</strong> {hear_about}</p>
                </td>
            </tr>
        <tbody>
        
        <tfoot>
            <tr>
                <td colspan="4" style="background: #8dc63f; padding: 10px; width:30%; text-align: center; ">
                <a href="http://www.homestart.net.au" style="text-decoration: none; font-size: 1em; color: #fff; font-weight: bold;">www.homestart.net.au</a></td>
            </tr>
        </tfoot>
       
    </table>
    
</body>