<form id="entry-search" style="margin:40px auto;width:300px;" action="" method="POST" onsubmit="this.action='{site_url}/onlineclientsurvey/entries/'+this.survey.value+'/'+this.job_number.value;">
<input type="text" name="job_number" placeholder="Job Number" style="padding:1em 2em;margin:1em 0;text-align:center">
<select name="survey">
	<option value="prestart_survey">Pre-Start Survey</option>
	<option value="handover_survey">Handover Survey</option>
</select>
<input type="submit" name="search" value="Search" class="btn-green" style="float:none;margin:20px auto;">
</form>