{exp:freeform:form
    form_name="prestart_survey"
    form:id="prestart"
    return="/onlineclientsurvey/thank_you"
}
        
    <!-- NAME & JOB NUMBER -->
    <h2>Please enter your name and <span class="bold">Job Number</span></h2>

    <fieldset>
        <div>
        <label><h4>{freeform:label:client_name}<span class="required">*</span></h4></label>
        <input type="text" name="client_name" value="" required/>
        </div>
        
        <div>
        <label><h4>{freeform:label:job_number}<span class="required">*</span></h4></label>
        <input type="text" name="job_number" value="" required/>
        </div>
    </fieldset>

	<!-- REPS NAME -->
    <h2>Please enter the names of your <span class="bold">Respresentatives</span></h2>
    
    <fieldset>
    	<div>
        <label><h4>{freeform:label:sales_consultant}<span class="required">*</span></h4></label>
        <input type="text" name="sales_consultant" value="" required/>
        </div>
        
        <div>
        <label><h4>{freeform:label:contracts_administrator}<span class="required">*</span></h4></label>
        <input type="text" name="contracts_administrator" value="" required/>
        </div>
	</fieldset>


	<!-- PRE-START SURVEY -->
    <h2>Pre-Start <span class="bold">Survey</span></h2>
    
    <fieldset>
    	<div>
        <label><h4>{freeform:label:prestart_age}<span class="required">*</span></h4></label>
        {freeform:field:prestart_age}
        <!-- <div class="clearfix"></div> -->
        </div>
		
        <div>
        <label><h4>{freeform:label:marital_status}<span class="required">*</span></h4></label>
        {freeform:field:marital_status}
        <!-- <div class="clearfix"></div> -->
        </div>
      	  
		<div>
        <label><h4>{freeform:label:prestart_number_of_children}<span class="required">*</span></h4></label>
        {freeform:field:prestart_number_of_children}
        <!-- <div class="clearfix"></div> -->
        </div>
		
        <div>
        <label><h4>{freeform:label:do_you_currently}<span class="required">*</span></h4></label>
        {freeform:field:do_you_currently}
        <!-- <div class="clearfix"></div> -->
        </div>
           
        <div>
        <label><h4>{freeform:label:purpose_of_new_home}<span class="required">*</span></h4></label>
        {freeform:field:purpose_of_new_home}
        <!-- <div class="clearfix"></div> -->
		</div>
        
        <div>
        <label><h4>{freeform:label:are_you_a_first_home_buyer}<span class="required">*</span></h4></label>
        {freeform:field:are_you_a_first_home_buyer}
        <!-- <div class="clearfix"></div> -->
		</div>
        
        <div>
        <label><h4>{freeform:label:if_no_have_you_ever_built_before}</h4></label>
        {freeform:field:if_no_have_you_ever_built_before}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:why_did_you_choose_to_build_with_homestart}<span class="required">*</span></h4></label>
        <select id="freeform_why_did_you_choose_to_build_with_homestart" class="valid" name="why_did_you_choose_to_build_with_homestart" required>
            <option value="">Please select</option>
            <option value="Home Design">Home Design</option>
            <option value="Finance">Finance</option>
            <option value="Service/Knowledge/Help">Service/Knowledge/Help</option>
            <option value="Reputation">Reputation</option>
            <option value="Price/Value for Money">Price/Value for Money</option>
            <option value="Sales Consultant">Sales Consultant</option>
            <option value="Lifetime Structural Guarantee">Lifetime Structural Guarantee</option>
            <option value="Other">Other</option>
        </select>
        <!-- <div class="clearfix"></div> -->
        </div>
	</fieldset>


	<!-- RATE SERVICE: SALES CONSULTANT -->
    <h2>How would you rate the service you received from your <span class="bold">Sales Consultant</span>?</h2>
    
    <fieldset>
        <div>
        <label><h4>{freeform:label:sales_availability}<span class="required">*</span></h4></label>
        {freeform:field:sales_availability}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:sales_product_knowledge}<span class="required">*</span></h4></label>
        {freeform:field:sales_product_knowledge}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:sales_helpfulness_assistance}<span class="required">*</span></h4></label>
        {freeform:field:sales_helpfulness_assistance}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:sales_responsiveness_to_requests}<span class="required">*</span></h4></label>
        {freeform:field:sales_responsiveness_to_requests}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <!-- <label><h4>{freeform:label:additional_comments_sales}</h4></label> -->
        <label><h4>Please write your own comments below</h4></label>
        {freeform:field:additional_comments_sales}
        <!-- <div class="clearfix"></div> -->
        </div>
	</fieldset>


	<!-- RATE SERVICE: CONTRACT ADMINISTRATOR -->
    <h2>How would you rate the service you received from your <span class="bold">Contracts Administrator</span>?</h2>
    
    <fieldset>
        <div>
        <label><h4>{freeform:label:contracts_administrator_availabilty}<span class="required">*</span></h4></label>
        {freeform:field:contracts_administrator_availabilty}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:contracts_administrator_product_knowledge}<span class="required">*</span></h4></label>
        {freeform:field:contracts_administrator_product_knowledge}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:contracts_administrator_helpfulness_assistance}<span class="required">*</span></h4></label>
        {freeform:field:contracts_administrator_helpfulness_assistance}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:contracts_administrator_responsiveness_to_requests}<span class="required">*</span></h4></label>
        {freeform:field:contracts_administrator_responsiveness_to_requests}
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <!-- <label><h4>{freeform:label:additional_comments_contracts_administrator}</h4></label> -->
        <label><h4>Please write your own comments below</h4></label>
        {freeform:field:additional_comments_contracts_administrator}
        <!-- <div class="clearfix"></div> -->
        </div>
	</fieldset>


	<!-- ADDITIONAL QUESTIONS -->
    <h2>A few more <span class="bold">Questions</span></h2>
    
    <fieldset class="extra">
        <div>
        <label><h4>{freeform:label:how_did_you_hear_about_homestart}<span class="required">*</span></h4></label>
        <select id="freeform_how_did_you_hear_about_homestart" name="how_did_you_hear_about_homestart" required>
            <option value="">Please select</option>
            <option value="TV">TV</option>
            <option value="Radio">Radio</option>
            <option value="Online/Website">Online/Website</option>
            <option value="Signage">Signage</option>
            <option value="Billboard/Bus back">Billboard/Bus back</option>
            <option value="Newspaper">Newspaper</option>
            <option value="Shopping Centres">Shopping Centres</option>
            <option value="Recommendation from family/friends">Recommendation from family/friends</option>
            <option value="Other">Other</option>
        </select>

        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:which_websites_did_you_use_to_research_your_new_home}<span class="required">*</span></h4></label>
        <select id="freeform_which_websites_did_you_use_to_research_your_new_home" name="which_websites_did_you_use_to_research_your_new_home" required>
            <option value="">Please select</option>
            <option value="Homestart.net.au">Homestart.net.au</option>
            <option value="Realestate.com">Realestate.com</option>
            <option value="Reiwa.com">Reiwa.com</option>
            <option value="Domain.com">Domain.com</option>
            <option value="Other builders websites">Other builders websites</option>
            <option value="Land developers">Land developers</option>
            <option value="Other">Other</option>
        </select>
        <!-- <div class="clearfix"></div> -->
        </div>

        <div>
        <label><h4>{freeform:label:do_you_regularly_read_any_of_the_following_newspapers}<span class="required">*</span></h4></label>
        <select id="freeform_do_you_regularly_read_any_of_the_following_newspapers" name="do_you_regularly_read_any_of_the_following_newspapers" required>
            <option value="">Please select</option>
            <option value="The West Australian (Mon to Fri)">The West Australian (Mon to Fri)</option>
            <option value="The West Australian (Saturday)">The West Australian (Saturday)</option>
            <option value="The Sunday Times">The Sunday Times</option>
            <option value="Community News Paper">Community News Paper</option>
            <option value="Never read the paper">Never read the paper</option>
        </select>
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <div>
        <label><h4>{freeform:label:what_is_your_preferred_radio_station}<span class="required">*</span></h4></label>
        <select id="freeform_what_is_your_preferred_radio_station" name="what_is_your_preferred_radio_station" required>
            <option value="">Please select</option>
            <option value="92.9">92.9</option>
            <option value="Nova">Nova</option>
            <option value="96fm">96fm</option>
            <option value="94.5">94.5</option>
            <option value="Triple J">Triple J</option>
            <option value="Other">Other</option>
        </select>
        <!-- <div class="clearfix"></div> -->
        </div>
        
        <!-- <div>
        {freeform:field:i_would_like_to_receive_news_and_updates_from_homestart}
        <label class="checkbox"><h4>{freeform:label:i_would_like_to_receive_news_and_updates_from_homestart}</h4></label>
        <div class="clearfix"></div>
        </div> -->
	</fieldset>

{exp:snaptcha:field}
<div id="summary"></div>
<input type="submit" name="submit" value="Submit" class="btn-green" />

{/exp:freeform:form}
