html,body{height:100%}
body{font-family:'WhitneyBook'}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.004);outline:0;}
.left{float:left !important}
.right{float:right !important}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}.hide{display:none}
.hidden{display:none!important;visibility:hidden!important;}
.container{padding:20px;position:relative;width:100%;}
#header{background:#0078BE;}
#header .container{min-height:80px;}
#logo{display:block;height:35px;position:absolute;bottom:20px;right:20px;}
#logo img{height:100%;}
#wrapper{position:relative;}
#start,#form{position:absolute;top:0;width:100%;}
#banksia #start,#banksia #form{position:static;}
#slider{max-height:180px;overflow:hidden;margin:0;}
#slider div{position:relative;height:180px;}
#slider img{height:auto;width:100%;position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;}
h1{color:#FFF;font-family:'WhitneyBold';font-size:2.2em;margin:0;padding:0 90px 0 0;letter-spacing:-2px;text-shadow:0 1px 1px rgba(0,0,0,0.25);}
h1 span{text-shadow:0 1px 1px rgba(0,0,0,0.25);}
h2{color:#0078BE;font-family:'WhitneyBold';font-size:2em;margin:0 0 0.5em;letter-spacing:-2px;}
h3{color:#0078BE;font-family:'WhitneyBold';font-size:2em;margin:0 0 1em;letter-spacing:-2px;}
h4{color:#0078BE;font-family:'WhitneyBold';font-size:2em;margin:0;}
button{display:block;border:none;width:100%;padding:20px 10px;font-family:'WhitneySemibold';font-size:2em;color:#FFF;border-radius:10px;margin:10px 0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;}
a.button{display:block;border:none;width:100%;padding:20px 10px;font-family:'WhitneySemibold';font-size:2em;color:#FFF;border-radius:10px;margin:10px 0;text-align:center;text-decoration:none;}
a.blue,button.blue{background:#0078BE!important;}
a.green,button.green{background:#96C11F!important;}
span.blue{color:#0078BE!important;}
span.green{color:#96C11F!important;}
p{font-size:1.2em;}
ul{font-size:1.2em;}
#buttons a{width:49%;float:left;}
#buttons a:first-child{margin-right:1%;}
form div{margin:0 0 1em 0;}
form ul li{display:inline-block;margin:0 1em 0 0;}
input[type=text],input[type=email],input[type=tel],textarea{width:100%;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;border:1px solid #ccc;border-radius:5px;padding:10px;}
input.error,textarea.error{border-color:#FFA215;box-shadow:0 0 5px rgba(255,162,21,0.25);}
input.valid,textarea.valid{border-color:#96C11F;box-shadow:0 0 5px rgba(150,193,31,0.25);}
textarea{resize:none;}
select{margin:1em 0;width:100%;}
label.error{color:#FFA215;display:block;font-family:'WhitneySemibold';font-size:16px;margin:5px 0 5px 10px;}
@media only screen and (max-width:360px) {
	h1{font-size:1.4em;}
	h2{font-size:1.6em;}
	#buttons a{width:100%;float:none;}
}
@media only screen and (min-width:640px) {
	#slider{max-height:480px;}
	#slider div{height:480px;}
}
@media only screen and (min-width:960px) and (min-device-width:1080px) {
	#wrapper{width:960px;margin:0 auto;}
}