{layout="home/.layout"}

<div class="row">
    <div class="large-12 columns">

    	<div id="home-slider">
            <!-- <div>
                <img src="{assets}/img/slides/slide_9.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content">
                    <h2><span class="big">WIN</span><br><span class="green">your rent<br>for</span> one year!</h2>
                    <a class="button success" href="/news/promotions/win-your-rent-for-one-year">Enter now</a>
                </div>
            </div> -->
        	<div>
                <img src="{assets}/img/slides/slide_5.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content">
                    <h2><span class="green">First home owner grant</span> now $10,000!</h2>
                    <h3>HomeStart can get you a home of your own</h3>
                    <a class="button success" href="/first-home-buyers/first-home-owners-grant">Find out more</a>
                </div>
            </div>
            <div>
                <img src="{assets}/img/slides/slide_1.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content align-right">
                    <h2><span class="green">Do you want to</span> Stop renting?</h2>
                    <h3>HomeStart can make it happen</h3>
                    <a id="home-video" class="button success" href="#tvc" data-lity>Find out more</a>
                </div>
                <!-- <div id="tvc-lity" class="lity-hide">
                    <video class="video-js" preload data-setup="{}">
                        <source src="{assets}/media/tvc_1.mp4" type='video/mp4'>
                        <source src="{assets}/media/tvc_1.webm" type='video/webm'>
                        <source src="{assets}/media/tvc_1.ogv" type='video/ogg'>
                        <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div> -->

                <!-- <video id="tvc-m" class="mobile" controls preload>
                    <source src="{assets}/media/tvc_1.mp4" type='video/mp4'>
                    <source src="{assets}/media/tvc_1.webm" type='video/webm'>
                    <source src="{assets}/media/tvc_1.ogv" type='video/ogg'>
                </video> -->
            </div>
            <div>
                <img src="{assets}/img/slides/slide_2.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content">
                    <h2>$295 <span class="green">a week for a home of</span> your own?</h2>
                    <h3>HomeStart can make it happen</h3>
                    <a class="button success" href="/home-loans/home-loan-calculator">Find out more</a>
                </div>
            </div>
            <div>
                <img src="{assets}/img/slides/slide_3.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content align-right">
                    <h2><span class="green">No Deposit?</span><br>No dramas.</h2>
                    <h3>HomeStart can get you a home of your own</h3>
                    <a class="button success" href="/home-loans/zero-deposit-home-loans">Find out more</a>
                </div>
            </div>
            <div>
                <img src="{assets}/img/slides/slide_4.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content">
                    <h2>$99k <span class="green">for a home of</span> your own?</h2>
                    <h3>HomeStart can make it happen</h3>
                    <a class="button success" href="/contact-us">Find out more</a>
                </div>
            </div>
            <div>
                <video id="tvc" class="video-js vjs-16-9 vjs-default-skin" width="970" height="460" preload controls responsive poster="{assets}/img/slides/tvc_poster.jpg" data-setup="{}">
                    <source src="{assets}/media/tvc_1.mp4" type='video/mp4'>
                    <source src="{assets}/media/tvc_1.webm" type='video/webm'>
                    <source src="{assets}/media/tvc_1.ogv" type='video/ogg'>
                    <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>

            <!-- <div>
                <img src="{assets}/img/slides/slide_0.jpg" width="960" height="575" alt="slide"/>
                <div class="slide-content align-right">
                    <h2><span class="green">First home owner grant</span> now $10,000!</h2>
                    <h3 style="margin-top:10px;">HomeStart can get you a home of your own</h3>
                    <a id="home-video" class="button success" href="#tvc" data-lity>Find out more</a>
                </div>

                <div id="tvc" class="lity-hide">
                    <video class="video-js" preload data-setup="{}">
                        <source src="{assets}/media/tvc_1.mp4" type='video/mp4'>
                        <source src="{assets}/media/tvc_1.webm" type='video/webm'>
                        <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div> -->

        </div>

    </div>
</div>

<div class="row">
    <div class="large-12 columns">

    	<h1>HomeStart, the First Home Specialists</h1>
        <h3 class="green">We can get you a home of your own.</h3>

        <div class="row">

            <div class="large-12 columns">

                <p>HomeStart are the first home buyer specialists in Perth. Established in 1988, we have helped thousands of Western Australians achieve their home ownership dreams. We've dedicated years to making first home ownership easy. We operate as a one-stop-shop where you can obtain a comprehensive <a href="{path='first-home-buyers'}">first home buyers guide</a> and take the next step to finally having a home of your own. This is why we've developed the <a href="{path='about-us'}">HomeStart Difference</a>; we will guide you through every step of the process, from applying for government grants to sourcing land and obtaining a great finance package.</p>

                <h4>How we can help you?</h4>

                <p>We can assist you with the <a href="{path='first-home-buyers/first-home-owners-grant'}">first home owner grant</a>, government incentives, competitive finance and of course the perfect <a href="{path='house-and-land-packages'}">house and land package</a> too. Our dedicated team pride themselves on being the first home buyer specialists in Western Australia. We take the time to investigate every finance product available to our first home buyers and those looking to enter or re-enter the property market.</p>

            </div>

        </div>

    </div>
</div>

<div class="row">
    <div class="large-12 columns">

        <div class="row">
            <div class="medium-4 columns">

                {exp:channel:entries channel="designs" limit="1" orderby="random"}
                {photos cover_only="yes"}
                <a href="/home-designs" class="rounded-box triptych block-link" style="background-image:url({image:url:medium});">
                    <h3 class="triptych-title">Home Designs</h3>
                    <div class="triptych-bg"></div>
                </a>
                {/photos}
                {/exp:channel:entries}

            </div>
            <div class="medium-4 columns">

                {exp:channel:entries channel="promotions" limit="1" orderby="entry_date" sort="desc"}
                {promotion_image cover_only="yes"}
                <a href="/news/promotions" class="rounded-box triptych block-link" style="background-image:url({image:url:medium});">
                    <h3 class="triptych-title">Promotions</h3>
                    <div class="triptych-bg"></div>
                </a>
                {/promotion_image}
                {/exp:channel:entries}

            </div>
            <div class="medium-4 columns">

                {exp:channel:entries channel="packages" limit="1" orderby="random"}
                {design:photos cover_only="yes"}
                <a href="/house-and-land-packages" class="rounded-box triptych block-link" style="background-image:url({image:url:medium});">
                    <h3 class="triptych-title">House and Land</h3>
                    <div class="triptych-bg"></div>
                </a>
                {/design:photos}
                {/exp:channel:entries}

            </div>
        </div>

    </div>
</div>